<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Review</title>
        <link rel="stylesheet" href="revstyle.css">
        <link rel="shortcut icon" href="images/fav-icons.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css"
            integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css"
            integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l"
            crossorigin="anonymous" />
    </head>
    <%- include('./includes/header.ejs'); %>

    <body>
        <section id="testimonials">
            <div class="testimonial-heading">
                <span>Comments</span>
                <h1>Client Reviews</h1>
            </div>

            <div class="testimonial-box-container">
                <% for(let data of feedback_data) { %>
                <div class="testbox">
                    <div class="box-top">
                        <div class="profile">
                            <div class="profile-img">
                                <img src="/<%=data.image %>" />
                            </div>
                            <div class="username">
                                <strong>
                                    <%=data.customer %>
                                </strong>
                                <span>
                                    <%=data.email %>
                                </span>
                            </div>
                        </div>
                        <div class="reviews">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>

                    </div>
                    <div class="client-comments">
                        <p>
                            <%=data.review %>
                        </p>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="revi">
                <a href="/review">Give your Review >> </a>
            </div>
        </section>
        <%- include('./includes/footer.ejs'); %>
    </body>

</html>
