<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Review</title>
        <link rel="stylesheet" href="review.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

        body {
            font-family: poppins;
        }

        .menu {
            display: block;
            position: relative;
            cursor: pointer;
            width: 80%;
            height: 50px;
            border-radius: 5px;
        }

        #Gender {
            display: block;
            position: relative;
            cursor: pointer;
            width: 40%;
            height: 50px;
            border-radius: 5px;
        }

        #place {
            display: block;
            position: relative;
            cursor: pointer;
            width: 40%;
            height: 50px;
            border-radius: 5px;
        }

        #person {
            display: block;
            position: relative;
            cursor: pointer;
            width: 40%;
            height: 50px;
            border-radius: 5px;
        }

        .menu:hover {
            background: #387fdb;
        }

    </style>

    <body>
        <%- include('./includes/header.ejs'); %>
        <div class="container">
            <div class="row">
                <% for(let data of placedetails) { %>
                <div class="col-sm-6 mt-5">
                    <h2><span class="text-primary"><b>
                                <%- data.place %>
                            </b></span></h2>
                    <div class="mt-3">
                        <form action="/booking" method="post">
                            <div>
                                <label for="name" class="form-label">Your name</label>
                                <input type="text" class="form-control" id="name" name="name" required>

                                <div class="mt-3">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>

                                <div class="mt-3">
                                    <label for="location" class="form-label">Address</label>
                                    <textarea type="text" class="form-control" id="location" name="address"
                                        aria-required="true"></textarea>
                                </div>

                                <div class="mt-3">
                                    <label for="number" class="form-label">Phone Number</label>
                                    <input type="text" class="form-control" id="location" name="number" required></text>
                                </div>

                                <div class="mt-3">
                                    <label for="number" class="form-label">Alternate Phone Number</label>
                                    <input type="text" class="form-control" id="location" name="number2"
                                        required></text>
                                </div>

                                <div class="mt-3">
                                    <label for="visit" class="form-label">your package</label>
                                    <!-- <input type="radio" class="form-control" id="visit" name="visit" value="visit"> -->
                                    <select name="visit" id="place" class="menu">
                                        <option>
                                            <%- data.place%>
                                        </option>
                                    </select>
                                </div>

                                <div class="mt-3">
                                    <label for="Gender" class="form-label">Choose your Gender</label>
                                    <!-- <input type="radio" class="form-control" id="visit" name="gender" value="male"> -->
                                    <select name="gender" id="Gender" class="menu">
                                        <option value="male">Male</option>
                                        <option value="female">female</option>
                                    </select>
                                </div>

                                <div class="mt-3">
                                    <label for="visited" class="form-label">Booking For (Number of inviduals)</label>
                                    <input type="text" class="form-control" id="persons" name="persons" required>
                                </div>
                                <div class="mt-3">
                                    <label for="amount" class="form-label">Amount</label>
                                    <select name="amount" id="visit" class="menu">
                                        <option>
                                            <%- data.amount%>
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-md-flex justify-content-md-center">
                                <button type="submit" class="btn btn-block btn-outline-primary mt-5 mb-5"
                                    value="submit">BOOK
                                    NOW</btn>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6 mt-5">
                    <img src="https://i.ibb.co/djjRfYf/Hotel-Booking-rafiki.png" class="img-fluid"></src>
                </div>
                <% } %>
            </div>
        </div>
        <%- include('./includes/footer.ejs'); %>

</html>
