<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>

        <link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet" />

        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900"
            rel="stylesheet" />

        <link rel="stylesheet" href="font-awesome.min.css" />
        <link rel="stylesheet" href="animate.css" />
        <link rel="stylesheet" href="hover-min.css">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="owl.carousel.min.css">
        <link rel="stylesheet" href="owl.theme.default.min.css" />

        <link rel="stylesheet" href="jquery-ui.min.css" />
        <link rel="stylesheet" href="bootstrap.min.css" />
        <link rel="stylesheet" href="bootsnav.css" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="responsive.css" />
    </head>

    <style>
        /* ===========================
   ====== Search Box ====== 
   =========================== */

        .search {
            overflow: auto;
            height: 60px;
            width: 100%;
        }

        .search_bar {
            background-color: #09b6fa81;
            border-radius: 10px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
        }

        .search input[type="text"] {
            border: 0px;
            width: 67%;
            padding: 10px 10px;
        }

        .search input[type="text"]:focus {
            outline: 0;
        }

        .search input[type="submit"] {
            border: 0px;
            background: none;
            background-color: #405feb;
            color: rgb(149, 202, 245);
            float: right;
            padding: 10px;
            /* border-radius-top-right: 5px; */
            -moz-border-radius-top-right: 5px;
            -webkit-border-radius-top-right: 5px;
            /* border-radius-bottom-right: 5px; */
            -moz-border-radius-bottom-right: 5px;
            -webkit-border-radius-bottom-right: 5px;
            cursor: pointer;
        }

        /* ===========================
   ====== Medua Query for Search Box ====== 
   =========================== */

        @media only screen and (min-width : 150px) and (max-width : 780px) {


            .search {
                width: 95%;
                margin: 0 auto;
            }

        }

    </style>

    <body>
        <!-- main-menu start -->
        <header class="top-area">
            <div class="header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="logo">
                                <a href="/">
                                    <img src="Trekortrip.png" alt="" style="height: 52px;">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="main-menu">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target=".navbar-collapse">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="smooth-menu"><a href="#home">home</a></li>
                                        <li class="smooth-menu"><a href="#gallery">Destination</a></li>
                                        <li class="smooth-menu"><a href="#pack">Packages </a></li>
                                        <li class="smooth-menu"><a href="#subs">subscription</a></li>
                                        <% for(let data of user_data) { %>
                                        <li class="smooth-menu">
                                            <div class="action">
                                                <div class="profile" onclick="menuToggle();">
                                                    <img src="/<%-data.filename %>">
                                                </div>
                                                <div class="menu">
                                                    <h3><%-data.fname%> <%-data.lname%>
                                                        <br><span><%-data.location%></span></h3>
                                                    <ul>
                                                        <li><img src="user.png" alt=""><button class="pro-btn"
                                                                onclick="location.href = '/myprofile/<%-data.fname%>'">
                                                                My profile
                                                            </button></li>
                                                        <li><img src="logout.png" alt=""><button class="pro-btn"
                                                                onclick="location.href = '/logout'">
                                                                Logout
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" home-border"></div>
                </div>

            </div>
            </div>
        </header>

        <section id="home" class="about-us">
            <div class="container">
                <div class="about-us-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="single-about-us">
                                <div class="about-us-txt">

                                    <h2>
                                        Explore <span>the Beauty</span> of the <span>Beautiful</span> World <span>with
                                            Us</span>
                                    </h2>
                                    <div class="about-btn"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-0">
                            <div class="single-about-us"></div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="travel-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-travel-boxes">
                            <div id="desc-tabs" class="desc tabs">
                                <div class="tab-content">
                                    <div class="tab-pane active fade in" id="tours" role="tabpanel">
                                        <div class="tab-para">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="single-tab-select-box">
                                                        <h2>Search Your Destination</h2>

                                                        <div class="search">
                                                            <form method="get" action="" class="search-form">
                                                                <input type="text" class="search_bar"
                                                                    placeholder="Search your favourite destination Here"
                                                                    name="search_text" required>
                                                                <div class="about-btn travel-mrt-0 pull-right">
                                                                    <button class="about-view travel-btn" type="submit"
                                                                        value="submit">
                                                                        Search
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                        <div class="about-btn travel-mrt-0 pull-right">
                                                            <button onclick="location.href = '/browse';"
                                                                class="about-view travel-btn"
                                                                style="margin-left: 50px;">
                                                                Browse all
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="service" class="service">
            <div class="container">
                <div class="service-counter text-center">
                    <div class="col-md-4 col-sm-4">
                        <div class="single-service-box">
                            <div class="service-img">
                                <img src="s1.png" alt="#">
                            </div>
                            <div class="service-content">
                                <h2>
                                    <a href="#">
                                        amazing tour packages
                                    </a>
                                </h2>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem alias commodi eum
                                    perferendis incidunt. Ipsa necessitatibus veritatis quis ut culpa.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="single-service-box">
                            <div class="service-img">
                                <img src="s2.png" alt="service-icon" />
                            </div>
                            <div class="service-content">
                                <h2>
                                    <a href="#">
                                        book top class hotel
                                    </a>
                                </h2>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque eligendi harum
                                    soluta?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="single-service-box">
                            <div class="statistics-img">
                                <img src="s3.png" alt="service-icon" />
                            </div>
                            <!--/.service-img-->
                            <div class="service-content">

                                <h2>
                                    <a href="#">
                                        online flight booking
                                    </a>
                                </h2>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta!</p>
                            </div>
                            <!--/.service-content-->
                        </div>
                        <!--/.single-service-box-->
                    </div>
                </div>
            </div>
        </section>

        <%- include('./includes/gallery.ejs'); %>

        <section id="pack" class="packages">
            <div class="container">
                <div class="gallary-header text-center">
                    <h2>
                        special packages
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, officia?
                    </p>
                </div>
                <!--/.gallery-header-->
                <div class="packages-content">
                    <div class="row">
                        <% for (let data of special_package_data) { %>
                        <div class="col-md-4 col-sm-6">
                            <div class="single-package-item">
                                <img src="/<%-data.cover%>" alt="package-place">
                                <div class="single-package-item-txt">
                                    <h3>
                                        <%=data.place%><span class="pull-right">
                                            <%=data.amount%>
                                        </span>
                                    </h3>
                                    <div class="packages-para">
                                        <p>
                                            <span>
                                                <i class="fa fa-angle-right"></i>
                                                <%=data.stay%>
                                            </span>
                                        </p>
                                        <p>
                                            <span>
                                                <i class="fa fa-angle-right"></i>
                                                <%=data.transportation%>
                                            </span>
                                            <i class="fa fa-angle-right"></i>
                                            <%=data.facility%>
                                        </p>
                                    </div>
                                    <!--/.packages-para-->
                                    <div class="packages-review">
                                        <p>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <span>2544 review</span>
                                        </p>
                                    </div>
                                    <!--/.packages-review-->
                                    <div class="about-btn">
                                        <button onclick="location.href = '/packages/<%-data.place%>';"
                                            class="about-view packages-btn">
                                            Read More
                                        </button>
                                    </div>
                                    <!--/.about-btn-->
                                </div>
                                <!--/.single-package-item-txt-->
                            </div>
                            <!--/.single-package-item-->

                        </div>
                        <% } %>
                        <!--/.col-->


                    </div>
                    <!--/.row-->
                </div>
                <!--/.packages-content-->
            </div>
            <!--/.container-->

        </section>

        <section class="testemonial">
            <div class="container">

                <div class="gallary-header text-center">
                    <h2>
                        clients reviews
                    </h2>
                    <p>
                        Clients have given us their awesome reviews
                    </p>


                </div>
                <!--/.gallery-header-->

                <div class="owl-carousel owl-theme" id="testemonial-carousel">
                    <% for (let data of feedback_data) { %>
                    <div class="home1-testm item">
                        <div class="home1-testm-single text-center">
                            <div class="home1-testm-img">
                                <img src="/<%- data.image %>" alt="img" />
                            </div>
                            <!--/.home1-testm-img-->
                            <div class="home1-testm-txt">
                                <span class="icon section-icon">
                                    <h5>
                                        <%- data.place %>
                                    </h5>
                                </span>
                                <p>
                                    <%-data.review%>
                                </p>
                                <h3>
                                    <a href="#">
                                        <%-data.Customer%>
                                        <p>
                                            <%- data.email %>
                                        </p>
                                    </a>
                                </h3>
                                <h4>
                                    <%- data.location%>
                                </h4>
                            </div>
                            <!--/.home1-testm-txt-->
                        </div>
                        <!--/.home1-testm-single-->

                    </div>
                    <% } %>
                    <!--/.item-->
                </div>
                <div class="viewall">
                    <a href="/all-reviews">View All >> </a>
                </div>

                <!--/.testemonial-carousel-->
            </div>
            <!--/.container-->


        </section>

        <section id="subs" class="subscribe">
            <div class="container">
                <div class="subscribe-title text-center">
                    <h2>
                        Join Us to experience the amazing beauty of the world
                    </h2>
                    <p>
                        Join Now. We will send you Best offer for your Trip
                    </p>
                </div>

            </div>
            <form action="/home" , method="post" id="subscribe">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="custom-input-group">

                            <input type="email" class="form-control" placeholder="Enter your Email Here" name="mail">
                            <button class="appsLand-btn subscribe-btn" type="submit">Subscribe</button>
                            <div class="clearfix"></div>
                            <i class="fa fa-envelope"></i>
                        </div>

                    </div>
                </div>
            </form>
        </section>

        <%- include('./includes/footer.ejs'); %>

        <script src="jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->

        <!--modernizr.min.js-->
        <script src="modernizr.min.js"></script>


        <!--bootstrap.min.js-->
        <script src="bootstrap.min.js"></script>

        <!-- bootsnav js -->
        <script src="bootsnav.js"></script>

        <!-- jquery.filterizr.min.js -->
        <script src="jquery.filterizr.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!--jquery-ui.min.js-->
        <script src="jquery-ui.min.js"></script>

        <!-- counter js -->
        <script src="jquery.counterup.min.js"></script>
        <script src="waypoints.min.js"></script>

        <!--owl.carousel.js-->
        <script src="owl.carousel.min.js"></script>

        <!-- jquery.sticky.js -->
        <script src="jquery.sticky.js"></script>

        <!--datepicker.js-->
        <script src="datepicker.js"></script>

        <!--Custom JS-->
        <script src="custom.js"></script>

        <script>
            function menuToggle() {
                const toggleMenu = document.querySelector('.menu');
                toggleMenu.classList.toggle('active')
            }

            $("#subscribe").submit(function (event) {
                alert("Your Message has been recorded successfully, we will reach back to you shortly");
            })

        </script>


    </body>

</html>
